# IDE settings
.vscode

# Analysis and temporary files
analyze
exper/
run_log/
temp
tgb/DATA*/
tmp/
graph_test

# Log files
*.log
*.pid
*.txt

# Build files
build
dist
*.egg-info/
*.so
*.zip

# Python files
__pycache__/
.pytest_cache/
.ipynb_checkpoints/

# Model checkpoints
*.pt
*.pth
*.ckpt

*.png
*.pkl

*.npz
*.csv
